<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Proxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Proxy.Properties.Settings>
            <setting name="client_listener_port" serializeAs="String">
                <value>81</value>
            </setting>
            <setting name="server_listener_port" serializeAs="String">
                <value>82</value>
            </setting>
            <setting name="max_simultaneous_handshakes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="log_frequency" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="log_roundtrip" serializeAs="String">
                <value>roundtrip.log</value>
            </setting>
        </Proxy.Properties.Settings>
    </userSettings>
</configuration>
